<style>
    ul {
        margin: 0px;
    }
    li {
        margin: 0px 0px 0px -5px;
        list-style-type: square;
        list-style-position: inside;
        padding-left: -10px;
        font-size: 10px;
    }
    b {
        padding: 5px 0px 5px 5px;
        font-size: 12px;
        display: block;
    }
    span {
        color: red;
    }
    .step {
        clear: both;
    }
</style>

<div class="actu" onmouseover="javascript:montre_info('actu');">
<!--<div class="actu" onmouseover="javascript:actualite('actu');">-->
    Voyez ici l'actualité des dernières màj</div>
ce bloc s'affichera au passage de la souris du bloc ci-dessus
<!--<iframe id="actu" class="actu petitblocG" src="app/common/fragments/actu.html"
        style="position: absolute; visibility: hidden; width: 400px; height: 85%; overflow: hidden;">
</iframe> -->
INFOS TECHNIQUES (Navigateur, système ...)  
<b><u>juil. 2020</u></b>
<hr />
<img style="float: left; margin: 15px; width: 30%;"
     src="/public/img/common/icon_new.gif" alt="Image" />
<b><u>2013</u></b>
<ul>
    <li>Un forum pour échanger entre passionnés</li>
    <li>Plantes aromatiques et épices</li>
    <li>Trucs et astuces (naturels) de ma grand-mère</li>
</ul>
<hr class="step" />
<b><u>Juillet/août 2012</u></b>
<ul>
    <li>Outillage</li>
    <li>Cultures :</li>
    <!--<ul>-->
    <li>carottes</li>
    <li>Décoration jardin avec des fleurs et plantes grimpantes</li>
    <!--</ul>-->
    <li>Recette : Bouchées à l'amarante</li>
</ul>
<b><u>Avril/Mai 2012</u></b>
<ul>
    <li>Recettes de rhubarbe</li>
    <li>Nouveautés sur les cultures</li>
    <li>La philosophie du jardin naturel (accès par accueil)</li>
</ul>

<hr />
<b><u>Octobre/novembre 2011</u></b>
<ul>
    <li>Maladies et parasites</li>
</ul>
<b><u>Juillet/août/septembre</u></b>
<ul>
    <li>Nouvelle rubrique : <strong>Cultures</strong></li>
</ul>
<b><u>Nouveautés d'avril</u></b>
<ul>
    <li>Désherbage</li>
    <li>Des recettes... pour vos plantes</li>
</ul>

<b><u>25/12/2011 :</u></b>
<ul>
    <li>Des recettes pour les fêtes</li>
</ul>

<b><u>11/12/2011</u></b>
<ul>
    <li>Le calendrier des travaux du jardin</li>
</ul>

<hr />
<b><u>Ajouté le 05/12/2010</u></b>
<ul>
    <li>Jardinage biologique, la culture sauvage</li>
</ul>

<b><u>Ajout du 13/11/2010</u></b>
<ul>
    <li>Tout ce que vous voulez savoir sur les sols</li>
</ul>

<b><u>Ajouté le 11/11/2010</u></b>
<ul>
    <li>les traitements biologique</li>
    <li>liste des plantes sauvages avec renvoi sur l'article wikipédia</li>
    <li>Liste des "mauvaises herbes"</li>
</ul>