<IfModule mod_expires.c>
    ExpiresActive On 
    ExpiresDefault "access plus 2 hours"
    ExpiresByType image/ico A10
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\\.(jpe?g|css|js)">
        Header set Cache-Control "max-age= 1200"
    </FilesMatch>
</IfModule>
