/* pour initialiser toutes les balises */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
{
    margin: 0;
    padding: 0;
}

fieldset,img {
    border: 0;
}

ul,ol {
    margin: 10px 0px 0px 30px;
}
/* pour afficher une petite icone sur les liens externes */
.externe:after {
    content: ' ';
    content: url('/public/img/common/ext.png');
    vertical-align: middle;
}

.wikipedia:before {
    content: url('/public/img/common/logo_wikipedia.jpg');
    vertical-align: middle;
    padding-right: 5px;
}

.alcon:before {
    content: url('/public/img/common/alcon.jpg');
    vertical-align: middle;
    padding-right: 5px;
}

ul > li > a[class='wikipedia'] {
    list-style-type: none; /* ne fonctionne pas */
}

.pdf {
    background-image: url('/public/img/common/icone_pdf.png');
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 1px;
    margin-left: -20px;
}

span.externe {
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
}
/*
 divers fonds d'écran pour html :
  url('/public/img/common/pieris-andromede.jpg');
  url('/public/img/common/feuilles_automne.jpg');
  url('/public/img/common/neige_jardin.jpg');
  url('/public/img/common/maladies/carence-zinc.jpg');
  url('/public/img/common/_fond_fleur.jpg');
  url('/public/img/common/feuilles_automne.jpg');
  url('/public/img/common/pairie_fleurie.jpg');
  url('/public/img/common/pelouse.jpg');
*/
html {
    background-color: #EEEEEE;
    margin: 0;
    padding: 0;
    background: url('/public/img/common/prairie_fleurie.jpg') no-repeat center
        center fixed;
    /* image plein écran : */
    background-size: cover; /* version standardisée  */
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox          */
    -o-background-size: cover; /* pour Opera            */
}

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    height: auto;
    margin-top: 10px;
}

acronym,abbr {
    cursor: help;
    border-bottom: 1px dashed;
    border-bottom-width: 1px;
}

table {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #CAFFDF;
    width: 950px;
    height: auto;
    margin-left: auto; /* équivaut à align=center sur la balise */
    margin-right: auto; /* équivaut à align=center sur la balise */
}
/* pour affichage table oligo-éléments */
table.oligo {
    border-right: #000 1px solid;
    border-top: #000 1px solid;
    border-left: #000 1px solid;
    border-bottom: #000 1px solid;
    background-color: #ffffcc;
    margin: 10px;
    width: 920px;
    float: none
}

table.oligo th {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-image: url('/public/img/common/cellpic1.gif');
    height: 24px;
    text-align: center;
    font-size: 130%;
}

table.oligo th.element {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: none;
    background-color: #ffffcc;
    text-align: center;
    font-size: 20px;
    border-right: #000 1px solid;
    border-top: #000 3px solid;
    border-left: #000 1px solid;
    border-bottom: #000 1px solid;
    width: 10%;
}

table.oligo td {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-right: #000 1px solid;
    padding-right: 5px;
    border-top: #000 3px solid;
    padding-left: 5px;
    padding-bottom: 5px;
    border-left: #000 1px solid;
    padding-top: 5px;
    border-bottom: #000 1px solid;
    width: 10px;
    font-size: 13px;
}

/* pour affichage calendrier semis et fleurs */
table.calendrier {
    border-right: #000 1px solid;
    border-top: #000 1px solid;
    border-left: #000 1px solid;
    border-bottom: #000 1px solid;
    background-color: #ffffcc;
    margin: 1px;
    margin-top: 20px;
    width: 99%;
    float: none
}

table.calendrier th {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-image: url('/public/img/common/cellpic1.gif');
    height: 24px;
    text-align: center;
    font-size: 130%;
}

table.calendrier td {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-right: #000 1px solid;
    padding-right: 5px;
    border-top: #000 1px solid;
    padding-left: 5px;
    padding-bottom: 5px;
    border-left: #000 1px solid;
    padding-top: 5px;
    border-bottom: #000 1px solid;
    width: 50%;
}

td.calend {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 10%;
    /* comme on met &nbsp; pour avoir des cellules petites */
    height: 5px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: grey;
    border-right-width: 0px;
    border-right-style: solid;
    border-right-color: grey;
}

td.haut,th.haut,td.calend {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: grey;
}

td.red {
    background-color: red;
}

td.green {
    background-color: green;
}

td.orange {
    background-color: orange;
}

td.white {
    background-color: transparent;
}

th.FondNoir {
    width: 5%;
    background: black;
    color: yellow;
    text-align: center;
    font-size: 120%;
}
/* fin affichage calendrier semis et fleurs */

/* --- pour description du tableau des associations de plantes */
table.calendrier td.r1c1,table.calendrier td.r2c1 {
    width: 25%;
    font-weight: bold;
}

table.calendrier td.r1c2,table.calendrier td.r2c2 {
    width: 50%;
}

table.calendrier td.r1c3,table.calendrier td.r2c3 {
    width: 25%;
}

td.r1c1,td.r1c2,td.r1c3 {
    background: #ffff99;
    font-size: 13px;
}

td.r2c1,td.r2c2,td.r2c3 {
    background: #ffffcc;
    font-size: 13px;
}
/* --- fin description du tableau des associations de plantes */
h2 {
    margin-top: 2px;
    margin-bottom: 10px;
    margin-left: 15px;
}

h3 {
    margin-top: 1em;
    margin-left: 15px;
    border-left-color: black;
    border-bottom-width: thin;
    border-bottom-color: #336633;
    border-top-color: black;
    border-right-color: black;
}

h4 {
    text-transform: uppercase;
    margin-left: 15px;
    color: maroon;
    font-size: 140%;
    margin-top: 15px;
    margin-bottom: 10px;
}

h5 {
    font-size: 13px;
    background-image: url('/public/img/common/icone_botanique.png');
    background-repeat: no-repeat;
    background-position: center left;
    margin-left: 5px;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #067B49;
    font-family: italic;
    text-decoration: underline;
    text-indent: 29px
}

table.header, table.footer {
    margin-left: 2px;
    margin-right: 2px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-repeat: repeat;
    color: white;
    height: 30px;
    border: 0px;
    width: 100%;
    font-size: 9pt;
}

table.header, table.footer {
    /* background-image:        url('/public/img/common/feuilles_automne.jpg'); */
    background-image: url('/public/img/common/sliced-kiwi-fruit-lrg.jpg');
}
/*
table.footer {
    background-image: url('/public/img/common/sliced-kiwi-fruit-lrg.jpg');
}
*/

img {
    border: none;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 10px;
}

a img {
    border: none;
}

a.normal {

}

a {
    color: #2D6CFF;
    text-decoration: underline;
}

a:link {
    color: #2D6CFF;
    text-decoration: underline;
}

a:active {
    color: #FFFF00;
    text-decoration: none
}

a:visited {
    color: maroon;
    text-decoration: underline;
}

a:hover {
    color: red;
    text-decoration: overline underline;
    font-weight: bold;
    font-size: 100%;
}

ul.LienMarmiton {
    margin-left: 100px;
}

a.LienMarmiton {
    color: rgb(244, 115, 33);
    font-weight: normal;
    text-decoration: underline;
}

a.LienMarmiton:hover {
    color: red;
}

.Style7 {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.Style10 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    height: 20px;
}

.Style12 {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.Style14 {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}

.Style15 {
    color: #FF0000
}

h1 {
    text-align: center;
    font-size: 280%;
    color: #336600;
    margin-top: 3px;
}

h1.index {
    color: #ffcc33;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    text-decoration: none;
    margin-bottom: -10px;
    margin-left: 20px;
}

img.index {
    width: 60px;
    height: 60px;
}

li {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}

p {
    font-family: arial, helvetica, sans-serif;
    text-align: justify;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-indent: 20px;
    font-size: 13px;
}

p:first-letter {
    font-size: 130%;
    font-family: Arial, Georgia, "Times New Roman", Times, serif;
    /* Soit mise en Arial si possible */
    font-weight: bold;
}

p.auteur {
    clear: both;
    text-align: right;
    margin: 15px 30px 0 0;
    font-size: 10pt;
    font-weight: bold;
}

p.credit-photos {
    text-align: right;
    margin: 0 30px 15px 0;
    font-size: 8pt;
    color: #666666;
}

p.credit-photos:before {
    content: ' Crédit-photos : ';
}

.entete a:link, #pied a:link {
    color: cyan;
    text-decoration: none;
}

.entete a:visited, #pied a:visited {
    color: white;
    text-decoration: none;
}

.entete, #pied {
    text-align: left;
    clear: both;
    vertical-align: text-top;
    float: none;
    background: transparent;
    color: yellow;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
}

.entete p {
    margin: 10px;
}

#menu {
    clear: both;
    float: left;
    margin: 0px 0px 0px 0px;
    vertical-align: top;
    text-align: left;
    color: yellow;
    font-weight: bold;
    padding-left: 3px;
    width: 310px;
    min-width: 150px;
    max-width: 350px;
    min-height: 450px;
    max-height: 900px;
    overflow: auto;
    /*    background-image: url('/public/img/common/Bambou_nandina-domestica-DR.jpg');
    background:   url(/public/img/common/menu_gazon.gif);  
    background-image:        url('/public/img/common/feuilles_automne.jpg'); */
    background-image: url('/public/img/common/sliced-kiwi-fruit-lrg.jpg');
    background-repeat: repeat;
}

#menu a:visited {
    color: white;
    text-decoration: none;
}

#menu a:link {
    color: cyan;
    text-decoration: none;
}

#menu a:hover {
    color: yellow;
    text-decoration: underline;
    /*font-weight:      bold;
    font-size:        100%;*/
}

#menu .titre_smenu {
    -moz-border-radius:    0px 15px 15px 0px;
    -webkit-border-radius: 0px 15px 15px 0px;
    border-radius:         0px 15px 15px 0px;
    background:     gray;
    text-align:     left;
    width:          90%;
    color:          cyan;
    display:        block;
    border-right:   #bbbbbb 3px solid;
    padding-right:  2px;
    border-top:     #000000 1px solid;
    padding-top:    2px;
    border-left:    #000000 1px solid;
    padding-left:   5px;
    border-bottom:  #bbbbbb 3px solid;
    margin-top:     5px;
    margin-left:    -5px;
    font-size:      16px;
}

#menu .titre_menu {
    text-align:     center;
    width:          95%;
    color:          yellow;
    display:        block;
    margin-bottom:  3px;
    border-bottom:  3px solid;
    border-bottom-color: yellow;
    font-size:      20px;
    margin-bottom:  5px;
    padding-bottom: 5px;
}

#menu .titre_smenu:hover {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    font-size: 100%;
    background-color: #386F36;
    padding: 2px;
    margin-top: 7px;
    margin-left: -7px;
    margin-bottom: 3px;
    border: inset;
}

#menu .stitre_smenu {
    font-size:        95%;
    display:          block;
    color:            cyan;
    text-decoration:  underline;
    margin-top:       5px;
    border:           thin;
    border-left-color:   yellow;
    border-bottom-width: thin;
    border-bottom-color: cyan;
    border-top-color:    yellow;
    border-right-color:  yellow;
}

#menu ul,#menu ul ul {
    margin: 0px 0px 0px 0px;
    list-style-type: none;
    padding-left: 10px;
    font-size: 18px;
}

#menu li {
    text-align: left;
    color: yellow !important;
    font-size: 20px;
}

#menu li li {
    font-size: 15px;
}

#menu li.perso {
    font-family: helvetica, sans-serif, arial;
    font-size: 15px;
}

#corps {
    -moz-border-radius: 15px;
    vertical-align: top;
    text-align: left;
    height: auto;
    font-size: 10px;
    border-radius: 15px;
}

#IE.button {
    background: Black;
    color: white;
}

#pale-blue button {
    background: #e7eef5;
    border: 1px solid #becfe3;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-box-shadow: inset 0 1px 0 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
    box-shadow: inset 0 1px 0 0 #fff;
    color: #2a65a6;
    font-family: "lucida grande", sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding: 0px 0px 0px 0px;
    text-align: center;
    width: auto;
    min-width: 90px;
    height: auto;
    clear: none;
}

#pale-blue button:hover {
    color: red;
    font-weight: bold;
    font-size: 100%;
    text-decoration: underline;
}

ul.jardinage_sauvage li {
    margin: 10px 0px 10px 80px;
    list-style-type: none;
    padding-left: 10px;
    font-size: 17px;
}

ul.trucs li {
    margin: 2px 0px 0px 10px;
    list-style-type: none;
    padding-left:   20px;
    font-size:      13px;
}
ul.trucs p {
    text-decoration: underline;
    font-size:   15px;
    font-weight: bold;
    font-family: Arial, Georgia, "Times New Roman", Times, serif;
    margin:      3px 0px -2px 0px;
}
ul.trucs p:first-letter {
    font-size: 100%;
}
ul.trucs p:before {
    content: url(/public/img/common/puce.gif) " " ;
}

div.clear, div.step, hr.step {
    clear: both;
    margin-top: 10px;
}

hr.step {
    width: 85%;
    color: #339933;
    margin-left: 0px;
}

div.wiki {
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: block;
    margin: 2px;
    font-size: 11pt;
    /*background: #00CC00;*/
    padding: 2px;
    width: 78%;
    font: 12px georgia, serif;
    border: outset;
    text-align: center;
    margin-left: 35%;
    width: 350px;
    color: yellow;
}
div.wiki h2 {
    color: black;
}
div.wiki h2 img {
    margin-left:    20px;
    margin-bottom:  -5px;
    width:          20px;
    height:         20px;
}

span.actu, div.actu {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    display: block;
    font-size: 11pt;
    background: maroon;
    padding: 2px;
    width: auto;
    max-width: 900px;
    font: 12px georgia, serif;
    color: yellow;
    border: outset;
    cursor: help;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}
iframe.actu {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    display: block;
    font-size: 11pt;
    background: maroon;
    padding: 2px;
    width: auto;
    max-width: 900px;
    font: 12px georgia, serif;
    color: yellow;
    border: outset;
    cursor: help;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    visibility: hidden;
    display: none;
}

div.smenu {
    display: none;
}

div.titre {
    text-align: center;
    font-size: 15px;
    margin-right: 10px;
}

div.selector {
    font-family: arial, helvetica, sans-serif;
    width: 200%;
    padding: 8px 5px;
    margin-left: 5px;
    margin-right: 5px;
}

div.selector div.category {
    display: block;
    float: left;
    font-size: 12px;
    /*line-height:1;*/
    height: 120px;
    min-height: 100px;
    padding: 5px;
    position: relative;
    text-align: center;
    vertical-align: bottom;
    width: 132px;
}

.petitblocC {
    display: block;
    text-align: center;
    font-size: 11px;
    margin: 5px;
}

.petitblocD p:first-letter,.petitblocG p:first-letter {
    font-size: 110%;
    font-weight: bold;
}

.petitblocD p,.petitblocG p {
    font-size: 10px;
    margin: 5px;
    text-indent: 10px;
    text-align: left;
}

.petitblocD ul,.petitblocG li {
    font-size: 10px;
    margin-left: -20px;
    list-style: url(/public/img/common/puce.gif);
}

.petitblocD b,.petitblocG b {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
}

.petitblocD,.petitblocG {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 5px 5px 5px #000000;
    -webkit-box-shadow: 5px 5px 5px #000000;
    -o-box-shadow: 5px 5px 5px #000000;
    box-shadow: 5px 5px 5px #000000;
    font-family: verdana, helvetica, sans-serif;
    background-color: #ffff99;
    margin: 10px;
    width: 200px;
    color: black;
}

.petitblocD {
    float: right;
    border-right: #000000 1px solid;
    padding-right: 0px;
    border-left: #bbbbbb 2px solid;
    padding-top: 5px;
    border-bottom: #000000 1px solid;
    padding-bottom: 0px;
    border-top: #bbbbbb 2px solid;
    padding-left: 0px;
}

.petitblocG {
    float: left;
    border-right: #bbbbbb 2px solid;
    padding-right: 0px;
    border-left: #000000 1px solid;
    padding-top: 0px;
    border-bottom: #bbbbbb 2px solid;
    padding-bottom: 0px;
    border-top: #000000 1px solid;
    padding-left: 0px;
}

#info {
    margin: 2px 0px 0px 0px;
    padding-left: 10px;
    font-size: 9px;
    width: 250px;
}

.masquee {
    position: absolute;
    visibility: hidden;
}

.present a {
    color: red;
    font-weight: bold;
}

a.nav_precedent,a.nav_suivant {
    display: inline;
    margin-top: 5px;
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 5px;
    text-decoration: none;
}

a.nav_precedent {
    float: left;
}

a.nav_suivant {
    float: right;
}

.present {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:    15px;
    -moz-box-shadow:  5px 5px 5px #000000;
    -webkit-box-shadow: 5px 5px 5px #000000;
    -o-box-shadow:    5px 5px 5px #000000;
    box-shadow:       5px 5px 5px #000000;
    margin-top:       10px;
    margin-left:      10px;
    margin-bottom:    15px;
    margin-right:     1px;
    border-right:     #bbbbbb 3px solid;
    padding-right:    2px;
    border-top:       #000000 1px solid;
    padding-top:      2px;
    border-left:      #000000 1px solid;
    padding-left:     5px;
    border-bottom:    #bbbbbb 3px solid;
    padding-bottom:   2px;
    font-family:      verdana, sans-serif;
    font-size:        12px;
    width:            96%;
    font-style:       oblique;
    background-color: #CCFF33;
}
.scrolling {
    width: 96%;
    height: 130px; 
    overflow: auto;
}

.puce {
    list-style: url(/public/img/common/puce.gif);
}

h3.recette {
    text-align: center;
    font-family: 'Times New Roman';
    color: #006633;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 200%;
    clear: both;
    border-top: #000 2px solid;
    border-top-color: black;
    margin-top: 20px;
    padding-top: 15px;
}

#illust {
    font-size: 16px;
    color: #006600;
    text-align: justify;
}

div.Bio {
    background: #CCFFCC;
    width: 98%;
}

div.imageBulle {
    margin-left: -1px;
    margin-right: -2px;
    margin-top: 5px;
    float: left;
    text-align: center;
    font-size: 12px;
    color: black;
}

div.imageBulle img {
    max-width: 50px;
    max-height: 50px;
}

img.ico {
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-left: -1px;
    margin-right: -2px;
    margin-top: 5px;
}

div.pied img{
    margin-right: 2px;
}

img.asso {
    vertical-align: middle;
}

h3.viandes,h3.Poissons,h3.Légumes,h3.Desserts,h3.Conseils {
    font-weight: normal;
    margin-top: 5px;
}

h3:before {
    font-weight: bold;
}

h3.viandes:before {
    content: "Viandes : ";
}

h3.Poissons:before {
    content: "Poissons et fruits de mer : ";
}

h3.Légumes:before {
    content: "Légumes et garnitures : ";
}

h3.Desserts:before {
    content: "Desserts et pain : ";
}

h3.Conseils:before {
    content: "Conseils et astuces : ";
}

img div.image, div.imageG, div.imageD, div.imageC {
    border: 10px;
    margin: 10px;
}

div.image, div.imageD, div.imageG, div.imageC, div.imageC_transparent, div.image_transparent
{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 5px;
    padding-top: 2px;
    background-color: #ffffcc;
    margin: 10px;
    text-align: center;
}

div.imageC_transparent, div.image_transparent, div.transparent {
    background-color: transparent;
}

div.image, div.imageD {
    float: right;
}

div.imageG {
    float: left;
}

div.imageC {
    float: none;
}

img.w100{
    width:100px;
}
img.w120{
    width:120px;
}

div.reactions, p.reactions {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 5px 5px 5px #000000;
    -webkit-box-shadow: 5px 5px 5px #000000;
    -o-box-shadow: 5px 5px 5px #000000;
    box-shadow: 5px 5px 5px #000000;
    border-right: 1px;
    padding-right: 5px;
    border-top: 1px;
    padding-left: 5px;
    padding-bottom: 0px;
    margin: 0px auto;
    font: 12px verdana, sans-serif;
    border-left: 1px;
    width: 500px;
    padding-top: 2px;
    border-bottom: 5px;
    background-color: #dddddd;
}

div.reactexte {
    font-weight: bold;
}

div.reactitre {
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    font: bold 10px verdana, sans-serif;
    color: #ffffff;
    padding-top: 3px;
    background-color: #8a8a8a;
}

div.ENCADRE {
    color: #FFF;
    padding: 10px 10px 20px 10px;
    border: 5px solid #CDCCCA;
    width: 90%;
    margin: 30px 15px 15px 20px;
    clear: both;
    background: #53220a;
}

div.ENCADRE h4 {
    margin: 10px 0 10px 20px;
    color: #FFF;
}

div.centrer {
    padding-bottom:	20px;
    padding-top: 		20px;
    text-align:		center;
}
div.centrer ul {
    list-style:	none;
}

.dt {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 2px;
    font: 10px verdana, sans-serif;
    color: #666666;
    padding-top: 2px;
}

.lettrine:first-letter {
    font-size: 300%;
    float: left;
}